footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  width: 100%;
}

#detailImg{
  height: 25%;
  width: 15%;
}
#link{
    color: white;
    text-decoration: none;
}
.centered-card{
  width: 30%;
  
}